.Button {
    cursor: pointer;
    color: var(--primary-color);
    padding: 6px 15px;
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.clearInverted {
    padding: 0;
    border: none;
    background: none;
    outline: none;
    color: var(--inverted-primary-color);
}

